extends _styleguide.tpl.jade

block append vars
  - var page = Styleguide.PAGES.find('atom.html')

block append mainHeader
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#font-families") Font Families
      li: a(href="#font-sizes") Font Sizes
      li: a(href="#colors") Colors

block append main
  include ../core/include/_snippets.jade
  section#font-families
    h2 Font Families
    figure
      ul
        each family in Styleguide.FONT_SCHEME
          li(class=family.class)
            b= family.name
            | &mdash;#{family.sample}
      pre
        each family in Styleguide.FONT_SCHEME
          | &lt;li class="#[u= family.class]"&gt;#{family.name}&lt;/li&gt;&#x000a;
  section#font-sizes
    h2 Font Sizes
    p.
      The following atoms adjust font size. All atoms use #[b em] units,
      so the font sizes will scale according to their parents.
    p.
      The first list shows atoms prefixed #[code fz-], which change only font size,
      mainly used for inline (text-level) elements.
      The second lists atoms prefixed #[code fzb-], for font-size/line-height combos,
      which are useful for maintaining vertical rhythm on block elements.
    p.
      Notice there are two pairs of classes for each size.
      The first classname has an
      #[abbr(title="Système International d’Unités" lang="fr") SI]
      prefix that corresponds to a power of 1000,
      while the second classname (highlighted) uses a Greek/Latin prefix that indicates
      the value of #[code font-size] in its definition.
      The first set is good for comparing two different atoms, and
      the second set is good for when you need to know the absolute size.
    figure
      ul.-sp-nw.-of-a
        li.a-fz-peta universe (6.00)
        li.a-fz-tera galaxy   (4.00)
        li.a-fz-giga star     (3.00)
        li.a-fz-mega planet   (2.00)
        li.a-fz-kilo asteroid (1.50)
        li.a-fz-norm molecule (1.00)
        li.a-fz-mill atom     (0.75)
        li.a-fz-micr quark    (0.50)
      pre.
        &lt;li class="#[u a-fz-[peta|#[mark hex]]]"&gt;universe (6.00)&lt;/li&gt;
        &lt;li class="#[u a-fz-[tera|#[mark tet]]]"&gt;galaxy   (4.00)&lt;/li&gt;
        &lt;li class="#[u a-fz-[giga|#[mark tri]]]"&gt;star     (3.00)&lt;/li&gt;
        &lt;li class="#[u a-fz-[mega|#[mark di]]]"&gt;planet   (2.00)&lt;/li&gt;
        &lt;li class="#[u a-fz-[kilo|#[mark sesqui]]]"&gt;asteroid (1.50)&lt;/li&gt;
        &lt;li class="#[u a-fz-[norm|#[mark norm]]]"&gt;molecule (1.00)&lt;/li&gt;
        &lt;li class="#[u a-fz-[mill|#[mark dodrans]]]"&gt;atom     (0.75)&lt;/li&gt;
        &lt;li class="#[u a-fz-[micr|#[mark semi]]]"&gt;quark    (0.50)&lt;/li&gt;
      ul.-sp-nw.-of-a
        li.a-fzb-peta universe (6.00/0.250)
        li.a-fzb-tera galaxy   (4.00/0.375)
        li.a-fzb-giga star     (3.00/0.500)
        li.a-fzb-mega planet   (2.00/0.750)
        li.a-fzb-kilo asteroid (1.50/1.000)
        li.a-fzb-norm molecule (1.00/1.500)
        li.a-fzb-mill atom     (0.75/2.000)
        li.a-fzb-micr quark    (0.50/3.000)
      pre.
        &lt;li class="#[u a-fzb-[peta|#[mark hex]]]    "&gt;universe (6.00/0.250)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[tera|#[mark tet]]]    "&gt;galaxy   (4.00/0.375)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[giga|#[mark tri]]]    "&gt;star     (3.00/0.500)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[mega|#[mark di]]]     "&gt;planet   (2.00/0.750)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[kilo|#[mark sesqui]]] "&gt;asteroid (1.50/1.000)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[norm|#[mark norm]]]   "&gt;molecule (1.00/1.500)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[mill|#[mark dodrans]]]"&gt;atom     (0.75/2.000)&lt;/li&gt;
        &lt;li class="#[u a-fzb-[micr|#[mark semi]]]   "&gt;quark    (0.50/3.000)&lt;/li&gt;
  section#colors
    h2 Colors
    ul.-bc-w
      each color in Styleguide.COLOR_SCHEME
        li(class=[color.bg_class, (color.is_dark) ? 'h-darkbg' : ''])= color.name
      each color in Styleguide.TRANS_SCHEME
        li(class=[color.bg_class, (color.is_dark) ? 'h-darkbg' : ''])= color.name
    pre
      each color in Styleguide.COLOR_SCHEME
        | &lt;li class="#[u= color.bg_class]"&gt;#{color.name}&lt;/li&gt;&#x000a;
      each color in Styleguide.TRANS_SCHEME
        | &lt;li class="#[u= color.bg_class]"&gt;#{color.name}&lt;/li&gt;&#x000a;

block append scripts
  script(src="../core/scripts/util.js")
  script(src="../core/scripts/color.js")
  script.
    $('body').addClass('-bi-n') // only in js because can’t change template
