doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  - var company = { name: 'Agilex', location: 'Washington, DC' }
  - var urls = { home: 'https://dev-chharvey.github.io/', source: 'https://github.com/dev-chharvey/dev-chharvey.github.io/', resume: 'https://dev-chharvey.github.io/home/resume.html'}
  head
    title Cover Letter
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Cover Letter of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.2.0/still-alive.min.css")
  body.o-GoldenContainer.a-fz-mill-p
    main.o-GoldenContainer__Content.c-Document.-w-672px-p.-mx-a-p
      h1(style="visibility: hidden;") Cover Letter
      - var company = { name: 'Acme, Inc.', location: 'Washington, DC' }
      p Hello,
      p.
        I am Chris Harvey, applying for a front-end web developer
        position at
        #{company.name}
        in the
        #{company.location}
        area.
      p.
        My experience with HTML and CSS is primarily self-taught, but I am a fast
        learner and have used it to build projects using current best practices.
        At my most recent position, I worked with JavaScript/jQuery, D3.js, and SVG
        to build a feature that displays analytics data to users in an interactive
        graphical way. I also have some experience with XML/Schema and Java.
        I pride myself on architecting code that is clean, powerful, efficient,
        and scalable.
      p.
        I believe I can sharpen these skills to build better websites and applications,
        and I can offer fresh ideas for new projects. As an avid user of Git and GitHub,
        and as an occasional contributor to open-source projects, I make a great team
        member and work well in a collaborative environment. I have also spent two years
        teaching secondary-school mathematics, from which I have gained a bit of
        leadership experience.
      p.
        After graduating from Virginia Tech with a Bachelor&rsquo;s degree in Mathematics
        and a Master&rsquo;s degree in Education, I taught in secondary schools for two years.
        The skills I have gained from that experience would be applicable to the
        position for which I am applying.
      ul
        li.
          Working in a classroom taught me patience, delegation, multi-tasking, and the
          importance of human relationships. I believe these skills are essential in a
          workplace that puts a high premium on a team-like environment.
        li.
          Teaching often-complicated mathematical concepts gave me much experience
          communicating complex material to an audience not well-versed in the subject
          matter. I would need to draw on this skill when briefing nontechnical customers
          or users.
        li.
          Preparing lesson plans required me to analyze and compare different sources of
          content, organize learning objectives effectively, and use data from assessments
          to drive instruction. These skills would be required on a daily basis while
          analyzing the technical requirements of a project or solutions to a problem.
      //- p.
      //-   Some of my best work is sampled by my personal website hosted on GitHub. My
      //-   home page can be found at #[a(href="#{urls.home}") #{urls.home}]
      //-   and its source code at #[a(href="#{urls.source}") #{urls.source}].
      //-   My resume can also be found online at #[a(href="#{urls.resume}") #{urls.resume}].
      p.
        I think I have a lot to offer and can become a great asset to the
        #{company.name}
        team.
      footer
        p Sincerely,
        address(itemscope="" itemtype="http://schema.org/Person"): p
          span(itemprop="name")
            span(itemprop="givenName") Christopher&nbsp;
            abbr(title="Hewitt") H.&nbsp;
            span(itemprop="familyName") Harvey
          br
          span(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress")
            span(itemprop="streetAddress") 11156 Byrd Drive
            br
            span(itemprop="addressLocality") Fairfax, 
            abbr(title="Virginia" itemprop="addressRegion") VA 
            span(itemprop="postalCode") 22030
          br
          a(rel="author" href="tel:+17035072467" itemprop="telephone") (703) 507-2467
          br
          a(rel="author" href="mailto:chrisharvey2pi@gmail.com" itemprop="email") chrisharvey2pi@gmail.com
          br
          a(rel="author" href="https://chharvey.github.io/" itemprop="url") chharvey.github.io
    nav.Bc(hidden="")
      ol.Anc
        li
          a.Crumb(rel="top parent" href="../index.html") Home
      ul.Sib
        li
          a.Crumb(rel="sibling" href="resume.html") Resume
        li
          a.Crumb(rel="this" href="cover-letter.html") Cover Letter
      ul.Child
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
