mixin docmeta(blogpost)
  dl.c-Document__Meta
    dt Author
    dd(itemprop="author" itemscope="" itemtype="http://schema.org/Person")
      a(href="//chharvey.github.io/" rel="author" itemprop="url")
        span(itemprop="name")
          span(itemprop="givenName") Christopher
          = ' '
          span(itemprop="additionalName") H.
          = ' '
          span(itemprop="familyName") Harvey
    dt Description
    dd(itemprop="description")= blogpost.description()
    dt Keywords
    each word in blogpost.keywords()
      dd(itemprop="keywords")= word
    dt Version History
    each revision,index in blogpost.getTimestampsAll()
      dd.update
        -
          var itemprop_val = (function () {
            var str = ''
            if (revision.is_complete)                           str += 'dateCreated '
            if (revision.is_released)                           str += 'datePublished'
            if (index === blogpost.getTimestampsAll().length-1) str += ' dateModified'
            return str
          })()
        time(datetime=revision.datetime)&attributes((itemprop_val) ? {itemprop: itemprop_val} : {})
          | MMM DD, YYYY #[span.tod HH:MM]
        if (revision.is_complete)
          span.o-Textbox.c-Label.c-Label--cshn.-ml-1 Completed
        if (revision.is_released)
          span.o-Textbox.c-Label.c-Label--skss.-ml-1 Released
        if (index === blogpost.getTimestampsAll().length-1)
          span.o-Textbox.c-Label.c-Label--dang.-ml-1 Latest
    block

mixin statusAlert(blogpost)
  -
    var statusmap = {} // U+00ad &shy; soft hyphen
    statusmap[BlogPost.STATUS.DRAFT   ] = { sfx: 'dang', text: 'This document is a work in progress.' }
    statusmap[BlogPost.STATUS.COMPLETE] = { sfx: 'cshn', text: 'This document is in the final stages of comple\u00adtion.' }
    statusmap[BlogPost.STATUS.RELEASED] = { sfx: 'skss', text: 'This document is ready for implemen\u00adtation.' }
  p.o-GoldenContainer__Content__SideMinor.o-Box.c-Alert(class=`c-Alert--${statusmap[blogpost.status()].sfx}` itemprop="creativeWorkStatus" itemscope="" itemtype=blogpost.status())
    = statusmap[blogpost.status()].text
