mixin ie(cls)
  i(class=cls lang="la"): abbr(title="id est") i.e.
mixin eg(cls)
  i(class=cls lang="la"): abbr(title="exempli gratia") e.g.
mixin etc(cls)
  i(class=cls lang="la"): abbr(title="et cetera") etc.
mixin vs(cls)
  i(class=cls lang="la"): abbr(title="versus") vs.
mixin qed(cls)
  i(class=cls lang="la"): abbr(title="quod erat demonstrandum") q.e.d.
