doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title resume
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Resume of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/beta-v6/xmeter.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.14.1/bangs.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.3.0/still-alive.css")
    link(rel="stylesheet" href="css/resume.css")
    style.
      @media print {
        #obj2 {
          margin-top: -3rem;
        }
      }
      #obj2,
      #obj3 {display: none;}
      #obj3 {
        width: 100%;
        border: 0; /* reset */
        font-size: inherit; /* reset */
        background: transparent; /* reset */
      }
  body
    main.o-Grid(itemscope="" itemtype="http://schema.org/Person")
      mixin experience(title, id, data)
        section.o-Grid__Item.o-Grid__Item--exp(id=id)
          h2.o-Grid__Item.c-H2!= title
          block
          != data.map((el) => el.html()).join('')
      mixin achievement(title, id, data)
        section.o-Grid__Item.o-Grid__Item--exp(id=id)
          h2.o-Grid__Item.c-H2!= title
          dl.o-Grid__Item.o-Grid__Item--maincol.o-ListAchv
            != data.map((el) => el.html()).join('')
      header.o-Grid__Item--maincol.o-HeaderRes
        h1.c-H1(itemprop="name")
          span(itemprop="givenName") Christopher
          = ' '
          abbr(title="Hewitt" itemprop="additionalName") H.
          = ' '
          span(itemprop="familyName") Harvey
        section
          h2.-d-n Contact
          address.a-ff-base-s(itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"): ol.o-List.o-ListContact
            li.o-List__Item.o-ListContact__Item.-d-n(itemprop="streetAddress") 11156 Byrd Drive
            li.o-List__Item.o-ListContact__Item.-d-n
              span(itemprop="addressLocality") Fairfax
              = ', '
              abbr(title="Virginia" itemprop="addressRegion") VA
              = ' '
              span(itemprop="postalCode") 22030
              span(itemscope="" itemtype="http://schema.org/GeoCoordinates")
                meta(itemprop="latitude"  content="38.864158")
                meta(itemprop="longitude" content="-77.2888239")
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--phone.h-AfterSquare-p.-mr-1-s
              a(href="tel:+17035072467" itemprop="telephone")
                span.o-ListContact__Item__Icon.octicon.octicon-device-mobile
                | (703) 507-2467
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--email.h-AfterSquare-p.-mr-1-s
              a(rel="author" href="mailto:chrisharvey2pi@gmail.com" itemprop="email")
                span.o-ListContact__Item__Icon.octicon.octicon-mail
                | chrisharvey2pi@gmail.com
            li.o-List__Item.o-ListContact__Item.o-ListContact__Item--folio
              a(rel="author" href="https://chharvey.github.io/" itemprop="url")
                span.o-ListContact__Item__Icon.octicon.octicon-home
                | chharvey.github.io
      section.o-Grid__Item.o-Grid__Item--exp#objective
        h2.o-Grid__Item.c-H2 Objective
        p.o-Grid__Item--maincol.o-Objective#obj1(itemprop="seeks") To obtain an entry-level position as a front-end web developer.
        //- p.o-Objective#obj2 To obtain an entry-level position in the Intelligence Community that would utilize my mathematical and technological skills.
        //- input.o-Objective#obj3(type="text" value="Type a custom objective here. Reload to reset.")
      +experience('Technical Experience', 'tech-exp', Resume.POSITIONS.technical)
        section.o-Grid__Item.o-Grid__Item--maincol.o-Org.o-Grid-s.-mb-1vru#lang-sys
          h3.o-Grid__Item-s.c-H3 Languages &amp; Systems
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs!=      Resume.SKILLS.lang_sys1.map((el) => el.html()).join('')
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs!=      Resume.SKILLS.lang_sys2.map((el) => el.html()).join('')
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs.-d-n!= Resume.SKILLS.lang_sys3.map((el) => el.html()).join('')
        section.o-Grid__Item.o-Grid__Item--maincol.o-Org.o-Grid-s.-mb-1vru#skills
          h3.o-Grid__Item-s.c-H3 Technical Skills
          dl.o-Grid__Item-s.o-Grid-s.o-ListLangs.-x-1o1!= Resume.SKILLS.technical.map((el) => el.html({positive:'c-LangViz__Marker--pos2', classes:{dt:'-x-1o2',dd:'-x-1o2'}})).join('')
        section.o-Grid__Item.o-Grid__Item--maincol.o-Org.-d-n#apps
          h3.c-H3 Software Applications
          ul.o-Org__Detail
            each item in Resume.APPS
              li!= item
      +experience('Teaching Experience', 'teach-exp', Resume.POSITIONS.teaching)
      +experience('Other Work Experience', 'work-exp', Resume.POSITIONS.other)
      section.o-Grid__Item.o-Grid__Item--exp#edu
        h2.o-Grid__Item.c-H2 Education
        section.o-Grid__Item.o-Grid__Item--maincol.o-Org.o-Org--inst#VT
          h3.o-Org--inst__Name.c-H4(itemprop="alumniOf" itemscope="" itemtype="http://schema.org/CollegeOrUniversity")
            a.c-Camo(rel="external" href="https://www.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Polytechnic Institute and State University
          dl.o-ListAchv
            != Resume.DEGREES.map((el) => el.html()).join('')
      +achievement('Profes&shy;sional Dev&shy;elopment', 'prof-dev', Resume.PRODEVS)
      +achievement('Awards &amp; Member&shy;ships', 'awards', Resume.AWARDS)
      +achievement('Team Athletic Experience', 'athletic', Resume.TEAMS)
      footer.o-Grid__Item.o-Grid__Item--maincol.o-FooterRes.-d-n-p: p.
        This r&eacute;sum&eacute; is 100% hand-written, by me! Check out the
        #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/blob/master/resume/resume.jade") source code]
        at GitHub.
    nav.Bc.-d-n
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li: a.Crumb(rel="this"       href="#") Resume
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    //- script.
      $('#obj1').click(function () {
        $(this).hide();
        $('#obj2').show();
      });
      $('#obj2').click(function () {
        $(this).hide();
        $('#obj3').show();
      });
