doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title resume
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Resume of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/beta-v6/xmeter.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.14.1/bangs.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.3.0/still-alive.css")
    link(rel="stylesheet" href="css/resume.css")
    style.
      @media print {
        #obj2 {
          margin-top: -3rem;
        }
      }
      #obj2,
      #obj3 {display: none;}
      #obj3 {
        width: 100%;
        border: 0; /* reset */
        font-size: inherit; /* reset */
        background: transparent; /* reset */
      }
  body
    main.o-Grid.o-Grid--resume(itemscope="" itemtype="http://schema.org/Person")
      mixin experience(title, data)
        section.o-Grid__Item.o-Grid__Item--exp&attributes(attributes)
          h2.o-Grid__Item.c-ExpHn!= title
          block
          != data.map((el) => el.html()).join('')
      mixin achievement(title, data, classes)
        section.o-Grid__Item.o-Grid__Item--exp&attributes(attributes)
          h2.o-Grid__Item.c-ExpHn!= title
          dl.o-Grid__Item.o-Grid__Item--maincol.o-ListAchv(class=classes)
            != data.map((el) => el.html()).join('')
      header.o-Grid__Item--maincol.h-Hr
        h1.c-ResHn(itemprop="name")
          span(itemprop="givenName") Christopher
          = ' '
          abbr(title="Hewitt" itemprop="additionalName") H.
          = ' '
          span(itemprop="familyName") Harvey
        section
          h2.h-Hidden Contact
          address: ul.o-List.o-Flex-sK.c-Contact
            li.o-List__Item.o-Flex__Item-sK.c-Contact__Item
              a.c-Contact__Link.h-Block(href="tel:+17035072467" itemprop="telephone")
                div.c-Contact__Icon.octicon.octicon-device-mobile(role="none")
                div (703) 507-2467
            li.o-List__Item.o-Flex__Item-sK.c-Contact__Item
              a.c-Contact__Link.h-Block(rel="author" href="mailto:chrisharvey2pi@gmail.com" itemprop="email")
                div.c-Contact__Icon.octicon.octicon-mail(role="none")
                div chrisharvey2pi@gmail.com
            li.o-List__Item.o-Flex__Item-sK.c-Contact__Item
              a.c-Contact__Link.h-Block(rel="author" href="https://chharvey.github.io/" itemprop="url")
                div.c-Contact__Icon.octicon.octicon-home(role="none")
                div chharvey.github.io
      section.o-Grid__Item.o-Grid__Item--exp#objective
        h2.o-Grid__Item.c-ExpHn Objective
        p.o-Grid__Item--maincol#obj1(itemprop="seeks") To obtain an entry-level position as a front-end web developer.
        //- p#obj2 To obtain an entry-level position in the Intelligence Community that would utilize my mathematical and technological skills.
        //- input#obj3(type="text" value="Type a custom objective here. Reload to reset.")
      section.o-Grid__Item.o-Grid__Item--exp#skills
        h2.o-Grid__Item.c-ExpHn Skills
        -
          let skills_all = [].concat(...[
            Resume.SKILLS.content,
            Resume.SKILLS.design,
            Resume.SKILLS.programming,
            Resume.SKILLS.data,
            Resume.SKILLS.technical,
            // Resume.SKILLS.apps,
          ])
        ul.o-List.c-SkillsListPrint
          each skill in skills_all
            li.o-List__Item.h-Inline!= skill._text
        div.o-Grid__Item.o-Grid__Item--maincol.o-Grid.o-Grid--skillGroups
          mixin skillCategory(title, data)
            section.o-Grid__Item.c-Position&attributes(attributes)
              h3.c-Position__Name= title
              dl.o-Grid.o-Grid--skill!= data.map((el) => el.html()).join('')
          +skillCategory('Content', Resume.SKILLS.content)#skills-content
          +skillCategory('Design', Resume.SKILLS.design)#skills-design
          +skillCategory('Programming', Resume.SKILLS.programming)#skills-programming
          +skillCategory('Data', Resume.SKILLS.data)#skills-data
          +skillCategory('Technical Skills', Resume.SKILLS.technical)#skills-tech
          +skillCategory('Software Applications', Resume.SKILLS.apps)#skills-apps
      +experience('Technical Experience', Resume.POSITIONS.technical)#tech-exp
      +experience('Teaching Experience', Resume.POSITIONS.teaching)#teach-exp
      +experience('Other Work Experience', Resume.POSITIONS.other)#work-exp
      section.o-Grid__Item.o-Grid__Item--exp#edu
        h2.o-Grid__Item.c-ExpHn Education
        section.o-Grid__Item.o-Grid__Item--maincol.c-Position.-d-x.-xd-c#VT
          h3.c-Position__Org.-xo-1.-mb-1.-fv-u(itemprop="alumniOf" itemscope="" itemtype="http://schema.org/CollegeOrUniversity")
            a.c-Camo(rel="external" href="https://www.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Polytechnic Institute and State University
          dl.o-ListAchv.-mb-z
            != Resume.DEGREES.map((el) => el.html()).join('')
      +achievement('Profes&shy;sional Dev&shy;elopment', Resume.PRODEVS)#prof-dev
      +achievement('Awards &amp; Member&shy;ships', Resume.AWARDS)#awards
      +achievement('Team Athletic Experience', Resume.TEAMS, 'h-Hr')#athletic
      footer.o-Grid__Item.o-Grid__Item--maincol.-fz-el-mill: p.
        This r&eacute;sum&eacute; is 100% hand-written, by me! Check out the
        #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/blob/master/resume/resume.jade") source code]
        at GitHub.
    //- nav.Bc
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li: a.Crumb(rel="this"       href="#") Resume
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
    //- script.
      $('#obj1').click(function () {
        $(this).hide();
        $('#obj2').show();
      });
      $('#obj2').click(function () {
        $(this).hide();
        $('#obj3').show();
      });
