doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title resume
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="Resume of Christopher H. Harvey of Fairfax, VA.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="../core/images/favicon.ico")
    link(rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/xmeter/v6.1.1/css/xmeter.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.4.0/css/still-alive.css")
    link(rel="stylesheet" href="css/resume.css")
  body
    main.o-Grid.o-Grid--resume(itemscope="" itemtype="http://schema.org/Person")
      mixin proDevs(title, data, classes)
        section.o-Grid__Item.o-Grid__Item--exp&attributes(attributes)
          h2.o-Grid__Item.c-ExpHn!= title
          dl.o-Grid__Item.o-Grid__Item--maincol.o-ListAchv(class=classes)
            != data.map((item) => item.view()).join('')
      mixin awards(title, data, classes)
        section.o-Grid__Item.o-Grid__Item--exp&attributes(attributes)
          h2.o-Grid__Item.c-ExpHn!= title
          dl.o-Grid__Item.o-Grid__Item--maincol.o-ListAchv(class=classes)
            != data.map((item) => item.view()).join('')
      header.o-Grid__Item--maincol.h-Hr
        != resume.view.fullName()
        section
          h2.h-Hidden Contact
          -
            let contact = resume.view.contactInfo()
          address!= contact
      section.o-Grid__Item.o-Grid__Item--exp#about
        h2.o-Grid__Item.c-ExpHn.h-Hidden About
        p.o-Grid__Item--maincol(itemprop="description")= resume.about
      section.o-Grid__Item.o-Grid__Item--exp#skills
        h2.o-Grid__Item.c-ExpHn Skills
        -
          let skills_print = new HTMLUListElement().class('o-List o-List--print').addContent((resume.skills || [])
            .map((group) => group.items)
            .reduce((a,b) => a.concat(b), [])
            .map((skill) => new HTMLLIElement().class('o-List__Item h-Inline').addContent(skill.text))
          )
        != skills_print.html()
        div.o-Grid__Item.o-Grid__Item--maincol.o-Grid.o-Grid--skillGroups
          each group in resume.skills
            section.o-Grid__Item.c-Position(id=group.id)
              h3.c-Position__Name= group.title
              dl.o-Grid.o-Grid--skill!= group.items.map((item) => item.view()).join('')
      each group in resume.positions
        section.o-Grid__Item.o-Grid__Item--exp(id=group.id)
          h2.o-Grid__Item.c-ExpHn!= group.title
          != group.items.map((item) => item.view()).join('')
      section.o-Grid__Item.o-Grid__Item--exp#edu
        h2.o-Grid__Item.c-ExpHn Education
        section.o-Grid__Item.o-Grid__Item--maincol.c-Institution#VT
          h3.c-Institution__Name(itemprop="alumniOf" itemscope="" itemtype="http://schema.org/CollegeOrUniversity")
            a.c-Camo(rel="external" href="https://www.vt.edu/" itemprop="url")
              span(itemprop="name") Virginia Polytechnic Institute and State University
          dl.o-ListAchv.c-Institution__List
            != (resume.degrees || []).map((item) => item.view()).join('')
      +proDevs('Profes&shy;sional Dev&shy;elopment', resume.proDevs)#prof-dev
      +awards('Awards &amp; Member&shy;ships', resume.awards)#awards
      +awards('Team Athletic Experience'     , resume.teams, 'h-Hr')#athletic
      footer.o-Grid__Item.o-Grid__Item--maincol.-fz-el-mill: p.
        This r&eacute;sum&eacute; is 100% hand-written, by me! Check out the
        #[a(rel="external" href="https://github.com/chharvey/chharvey.github.io/blob/master/resume/resume.jade") source code]
        at GitHub.
    //- nav.Bc
      ol.Anc
        li: a.Crumb(rel="top parent" href="../index.html") Home
        li: a.Crumb(rel="this"       href="#") Resume
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.rawgit.com/chharvey/continuum/v0.4.1/site/scripts/mathjax-localconfig.js")
    script(src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=default")
    script(src="./js/resume.b.js")
    //- script(type="module").
      import { XSkill } from './js/XSkill.class.js'
      window.customElements.define('x-skill', XSkill)
