doctype html
html(lang="en" xmlns="http://www.w3.org/1999/xhtml")
  head
    title Special Characters
    meta(charset="utf-8")
    meta(name="author" content="Christopher H. Harvey")
    meta(name="description" content="A table of special characters.")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/still-alive/v1.2.0/still-alive.min.css")
    style.
      tbody tr:nth-child(n+2) th:nth-child(1) {
        text-transform: uppercase;
      }
      tbody td:nth-child(2) {
        font-size: 1.25rem;
        line-height: 1.2;
      }
      tbody td:nth-child(4),
      tbody td:nth-child(5) {
        font-family: monospace;
      }
      #greek td:nth-child(2) {
        font-family: 'Times',serif;
      }
  body
    main
      h1 Special Characters
      table.c-TableShaded.c-TableShadedRows.c-TableHover.-w-1o1.-ta-c
        thead
          tr
            th.o-Box(scope="col") Character Name
            th.o-Box(scope="col") Symbol
            th.o-Box(scope="col") Unicode (hex)
            th.o-Box(scope="col") HTML
            th.o-Box(scope="col") #[span.js-mt \LaTeX]
            th.o-Box(scope="col") Macintosh
            th.o-Box(scope="col" style="width:200px;") Comments
        each group in entities
          unless group.group === 'template'
            tbody
              tr: th.o-Box(scope="rowgroup" colspan="7")= group.group
              each entity in group.points
                tr
                  th(id='U+'+entity.unicode scope="row")= entity.name
                  td
                    unless entity.is_annotated
                      != '&#x' + entity.unicode + ';'
                    else
                      u!= '&#x' + entity.unicode + ';'
                  td= entity.unicode
                  td= entity.html
                  td= entity.latex
                  td= entity.mac
                  td!= entity.comment
        //- tbody#letter-like
         tr: th.o-Box(scope="rowgroup" colspan="7") Letter-Like Symbols
          tr
            th(scope="row") double-struck capital n
            td &#x2115;
            td 2115
            td
            td
            td
            td
          tr
            th(scope="row") double-struck capital p
            td &#x2119;
            td 2119
            td
            td
            td
            td
          tr
            th(scope="row") double-struck capital q
            td &#x211a;
            td 211a
            td
            td
            td
            td
          tr
            th(scope="row") double-struck capital r
            td &#x211d;
            td 211d
            td
            td
            td
            td
          tr
            th(scope="row") double-struck capital z
            td &#x2124;
            td 2124
            td
            td
            td
            td
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://cdn.mathjax.org/mathjax/2.0-latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML,https://chharvey.github.io/chhlib/mathjax-localconfig.js")
